[submodule "data/cima-q"]
	path = data/cima-q
	url = /lustre03/project/6003287/datasets/cima-q
	datalad-id = 898ffde2-11ef-11ea-9a9e-3ea8d101da1a
	datalad-url = /lustre03/project/6003287/datasets/cima-q
